
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@media (min-width: 767px) {
    .card-blog {
      margin-bottom: 3rem;
    }
  }
  
  .card-blog .card-body {
    position: relative;
  }
  
  .card-blog .card-category-box {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
  }
  
  .card-blog .card-category {
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #346751;
    border-radius: 4px;
  }
  
  .card-blog .card-category .category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0;
  }
  
  .card-blog .card-title {
    font-size: 1.3rem;
    margin-top: 0.6rem;
  }
  
  .card-blog .card-description {
    color: #4e4e4e;
  }
  
  .card-blog .post-author {
    display: inline-block;
  }
  
  .card-blog .post-date {
    color: #4e4e4e;
    display: inline-block;
    /* float: right; */
  }
/*--------------------------------------------------------------
# Blog Single
--------------------------------------------------------------*/

.form-comments,
.box-comments,
.widget-sidebar {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}
.post-box{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

@media (min-width: 768px) {

  .form-comments,
  .box-comments,
  .widget-sidebar {
    padding: 3rem;
  }

}

.blog-wrapper .article-title {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .blog-wrapper .article-title {
    font-size: 1.9rem;
  }
}

.blog-wrapper .post-meta {
  margin: 1rem 0;
}

.blog-wrapper .post-meta ul {
  border-left: 4px solid #346751;
  margin-top: 1rem;
}

.blog-wrapper .post-meta ul li {
  display: inline-block;
  margin-left: 15px;
}

.blog-wrapper .post-meta ul a {
  color: #346751;
}

.blog-wrapper .post-meta ul span {
  color: #346751;
}

.blog-wrapper .blockquote {
  border-left: 4px solid #346751;
  padding: 18px;
  font-style: italic;
}